
.peopleheading{
    font-size: 50px;
    margin-top: 20px;
}

/* hr{
    margin-top: 5px;
    border-top: 1px solid;
    width: 50%;
} */

.peoplebox{
    text-align: center;

}

.img-circle{
    border-radius: 50%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.img-responsive{
    max-width: 100%;
}



