
.peopleheading{
    font-size: 50px;
    margin-top: 20px;
}

/* hr{
    margin-top: 5px;
    border-top: 1px solid;
    width: 50%;
} */

.timeline{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 0.125%;
    width: 1px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul{
    margin:0;
    padding: 0;
}

.timeline ul li{
    list-style: none;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.content{
    border: 2px solid #eee;
    padding: 10px 10px;
    padding-top: 0;
    background: #ee5;
    border-radius: 5px;
    text-align: justify;
}

.timeline ul li:nth-child(odd):before{
    content:"";
    position: absolute;
    top: 24px;
    left: -9px;
    width: 20px;
    height: 20px;
    background: #ee5;
    border-radius: 50%;
}

/* Enter the ::before circles for even elements here !important*/

.timeline ul li h3{
    margin:0;
    padding:0;
    font-weight:500;
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li h4{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.content .time{
    padding-bottom: 10px;
    padding-top:5px;
}

